/* style.css
   Styling for Main Menu items.
   @author Pirjot Atwal
*/
.menu {
    padding: 20px;
    width: 70%; 
    border: 1px solid black;
}

.menu input {
    width: 90%;
    font-size: 18px;
    padding: 13px;
    border: 1px solid #ddd;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 100px;
}

.menu ul li div {
    columns: 1 12em;
    cursor: pointer;
}

.menu ul li div p {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

.menu ul li div:hover {
    background-color: #eee;
}