/** 
    This CSS file holds the styling for the Schedule Builder
    page on ./MakeMyFuture (builder.html) and its respective
    tools.

    @file: css/builder.css
    @authors: Pirjot Atwal, 
    @version 10/24/2021
*/

a {
    text-decoration: none;
}

/* START BUILDER (the root element) */
#builder {
    display: grid;
    grid-template-columns: 60% 40%;

    background-color: #137665;
}
/* END BUILDER */

/* Small Width Screen Query */
@media (max-width: 768px){
    #builder {
        grid-template-columns:none;
    }
}

/* START TOOLS (located in the left section of the builder) */
.tools {
    margin: 20px;
    padding: 5px;

    border: 3px black solid;
    background-color: #25b39b;
}

.tools-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;

    min-height: 40px;
    max-height: 60px;
    padding: 5px 3px;
    margin-bottom: 10px;
    border: 3px black solid;
}

#catalog, #database {
    padding: 10px;
}
/* END TOOLS */

/* START BUILDER (the standard builder, CSS based off transferology) */
#catalog-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

#catalog-flex select {
    height: 30px;
    width: 40%;
}

#catalog-classes {
    height: 350px;
    width: 97%;
    margin: 20px auto;
    padding: 10px;

    overflow-y: scroll;
    border: 3px black solid;
}

#catalog-classes-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 20px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4px;

    padding: 10px;
}

#catalog-classes-table * {
    border: 1px black solid;
    background-color: white;
    margin-top: 8px;
}

#catalog-classes-table a {
    margin: auto;
    color: red;
}

/* START DATABASE TOOL */

#database {
    max-height: 600px;
    overflow-y: scroll;
}

#database-search-sort {
    background-color:#2ccfb4;
    padding:10px;
    border: 3px black solid;
}

#database-schedules {
    padding:10px; 
    background-color:#267683;
}

.database-schedule {
    margin-bottom: 10px;
}

.database-schedule-profile {
    display:flex;
    flex-direction:row;
    padding:10px; 
    background-color: #2ccfb4;
}

.database-schedule-profile div p {
    margin: 10px 5px;
}

/* Select the icon and change the hover to click */
.database-schedule-profile div i:hover {
    cursor:pointer;
}

.database-schedule-dropdown {
    background-color:aqua;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease-in-out,
                padding 1s ease-in-out;
    max-height: 300px;
    overflow-y: scroll;
}

/* END DATABASE TOOL */

/* START SCHEDULE (located in the right section of the builder)*/
#schedule {
    margin: 20px;
    padding: 5px;

    background-color: #25b39b;
    border: 3px solid black;

    max-height: 700px;
    overflow-y: scroll;
}

#schedule-title {
    margin-left: 10px;
    margin-bottom: 0px;
}

.semester {
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 0 5px;
}

.semester-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    color: white;
    padding-left: 3px;
    margin: 10px 10px;
    margin-bottom: 0px;
    background-color: #2ccfb4;
    border: 3px solid black;
}

.semester-classes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    margin: 0 10px;
    color: white;
    background-color: white;
    transition: 3s;
    /* To hide the classes for this semester, set max-height = 0 and ensure that overflow is on hidden */
    overflow: hidden;
}

.semester-class {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    grid-gap: 10px;
    border: 3px solid black;
}

.semester-class * {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.semester-class p {
    margin-left: 0;
}

.semester-class a {
    color: red;
    font-size: 18px;
}

/* END SCHEDULE */

a:hover {
    cursor: pointer
}