/** 
    This CSS file holds the styling for the Schedule Builder
    Entry page on ./MakeMyFuture (builder_entry.html) and its respective
    tools.

    @file: css/builder_entry.css
    @authors: Pirjot Atwal, 
    @version 01/03/2022
*/

#schedule_grid {
    background-color: blueviolet;

    display: flex;
    flex-flow: row wrap;
}

.schedule_item {
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 20%;

    text-align: center;
}

.schedule_fields {
    text-align: initial;
}

#create_schedule_form {
    background-color: green;
    
    width: 450px;
    padding: 50px;
    margin: auto;

    text-align: center;

    margin-bottom: 100px;
}

#create_schedule_form label {
    margin-right: 8px;
}

#not_signed_in_message {
    text-align: center; 
    margin: 100px 0px;
}

#menu_area {
    padding: 50px;
}

#no_schedule_message {
    border:3px solid black;
    text-align: center;
}

#creation-menu {
    margin: 40px 10%; 
    text-align:center;
}

.outer-menu {
    margin: auto; 
    margin-bottom: 50px; 
    display: flex; 
    flex-direction: row; 
    gap: 20px;
}

#major-categories, #university-categories {
    width: 35%; 
    padding: 5px 2.5%; 
    display: flex; 
    flex-direction: column; 
    background-color: lightgray; 
    border: 3px black solid; 
    max-height: 300px; 
    overflow-y: scroll
}

.search-div {
    width: 65%; 
    display:flex; 
    flex-direction: column; 
    border: 3px black solid; 
    padding: 10px; 
    max-height: 300px; 
    overflow-y: scroll;
}