/** 
    This CSS file holds the styling for the Schedule Builder
    page on ./MakeMyFuture (builder.html) and its respective
    tools.

    @file: css/builder.css
    @authors: Pirjot Atwal, 
    @version 10/24/2021
*/

/* START BUILDER (the root element) */
.builder {
    display: grid;
    grid-template-columns: 60% 40%;

    height: 95vh;
    background-color: bisque;
    border: 30px solid magenta;
}
/* END BUILDER */

/* START TOOLS (located in the left section of the builder) */
.tools {
    margin: 20px;
    padding: 5px;

    background-color: cornflowerblue;
    border: 5px solid red;
}
/* END TOOLS */

/* START BUILDER (the standard builder, CSS based off transferology) */
.menu-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.menu-flex select {
    height: 30px;
    width: 40%;
}

.menu-classes {
    background-color: blueviolet;
    height: 350px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
}

.menu-classes-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 20px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4px;

    padding: 10px;
}

.menu-classes-table * {
    border: 1px black solid;
    background-color: white;
}

.menu-classes-table a {
    margin: auto;
    color: red;
}

/* START SCHEDULE (located in the right section of the builder)*/
.schedule {
    margin: 20px;
    padding: 5px;

    background-color: darkgoldenrod;
    border: 5px solid blue;
}

.semester {
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 0 3%;
    background-color: darkcyan;
    border: 5px solid purple;
}

.semester-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    color: white;
    padding-left: 3px;
    margin: 10px 10px;
    margin-bottom: 0px;
    background-color: blue;
}

.semester-classes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    margin: 0 10px;
    padding-left: 10%;
    color: white;
    background-color: yellow;
    transition: 3s;
    /* To hide the classes for this semester, set max-height = 0 and ensure that overflow is on hidden */
    overflow: hidden;
}

.semester-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border: 3px solid black;
}

/* END SCHEDULE */