/** 
    This CSS file holds the styling for the hero elements
    that appear on some pages.

    @file: css/hero.css
    @authors: Pirjot Atwal, 
    @version 10/17/2021
*/

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    height: 400px;
    background-color: gray;
    border: 20px dashed white;
    text-align: center;
}
