/** 
    This CSS file holds the styling for sections on the homepage
    and other pages on the website.

    @file: css/section.css
    @authors: Pirjot Atwal, 
    @version 10/17/2021
*/

/* For Section 1 */
.section {
    /* One way to center elements in a div
    (except you don't always get vert-align): 
    display: block;
    margin: auto; */

    /* Another way: */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    padding: 0 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    background-color: #21B19A;
}

/* Useful Links Section */
.useful-links-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    padding: 0 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    background-color: #23948E;
}

.useful-links-section div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    margin-top: 30px;
}

/* Img + Div Section Style */
.img-div-section {
    display: grid;
    grid-template-columns: 50% 50%; /*Sets the size of every column*/

    height: 400px;
    background-color: violet;
    border: 20px dashed cornflowerblue;
    text-align: center;
}

.img-div-section img {
    display: block;
    margin: auto;
    max-height: 75%;
    max-width: 75%;
    border: 10px solid black;
}

.img-div-section div {
    display: block;
    margin: auto;
    max-height: 75%;
    max-width: 75%;
    border: 10px solid darkgreen;
}