/** 
    This CSS file holds the styling for the Signup and Login
    pages on ./MakeMyFuture (signup.html/login.html).

    @file: css/signup_login.css
    @authors: Pirjot Atwal, 
    @version 10/24/2021
*/

body {
    height:100%;
    background-color:#137665;
}

.logo {
    width: 25%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    font-size: 14px;
    background-color: darkcyan;
    border: 3px solid black;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a img {
    height: 100px;
}

.main-box {
    height: 450px;
    width: 350px;
    background-color: white;
    margin:20px auto;
    border-radius: 20px;
    border: 3px solid black;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding-top:40px;
}

.form {
    padding-left:30px;
}